 @font-face {
    font-family: 'GothamBold';
    src: url('../fonts/GothamBold.svg#GothamBold') format('svg'),
         url('../fonts/GothamBold.ttf') format('truetype'),
         url('../fonts/GothamBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/GothamMedium.svg#GothamMedium') format('svg'),
         url('../fonts/GothamMedium.ttf') format('truetype'),
         url('../fonts/GothamMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.eot');
    src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg'),
         url('../fonts/Gotham-Book.ttf') format('truetype'),
         url('../fonts/Gotham-Book.woff') format('woff'),
         url('../fonts/Gotham-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'),
         url('../fonts/Roboto-Regular.ttf') format('truetype'),
         url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
         url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
         url('../fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@import "_vars";
@import "mixin";
@import "vendor/reset";


.wrapper{
    background: url(../images/body.png) center/cover no-repeat fixed;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Blocks */
@import "blocks/header";
@import "blocks/creative";
@import "blocks/agency";
@import "blocks/features";
@import "blocks/extentions";
@import "blocks/blog";
@import "blocks/campaign";
@import "blocks/note";
@import "blocks/services";
@import "blocks/team";
@import "blocks/member";
@import "blocks/feedback";
@import "blocks/footer";
@import "blocks/burger";
@import "blocks/navmobile";

