@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.eot');
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Bold.woff2') format('woff2'),
         url('../fonts/Gotham-Bold.woff') format('woff'),
         url('../fonts/Gotham-Bold.ttf')  format('truetype'),
         url('../fonts/Gotham-Bold.svg#Gotham') format('svg');
         font-style: normal;
         font-weight: 700;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium3.eot');
    src: url('../fonts/Gotham-Medium3.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Medium3.woff2') format('woff2'),
         url('../fonts/Gotham-Medium3.woff') format('woff'),
         url('../fonts/Gotham-Medium3.ttf')  format('truetype'),
         url('../fonts/Gotham-Medium3.svg#Gotham') format('svg');
         font-style: normal;
         font-weight: 500;
}
@font-face {
    font-family: 'GothamBook';
    src: url('../fonts/GothamBook.eot');
    src: url('../fonts/GothamBook.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamBook.woff2') format('woff2'),
         url('../fonts/GothamBook.woff') format('woff'),
         url('../fonts/GothamBook.ttf')  format('truetype'),
         url('../fonts/GothamBook.svg#GothamBook') format('svg');
         font-style: normal;
         font-weight: normal;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
         url('../fonts/MyriadPro-Regular.woff') format('woff'),
         url('../fonts/MyriadPro-Regular.ttf')  format('truetype'),
         url('../fonts/MyriadPro-Regular.svg#Myriad Pro') format('svg');
         font-style: normal;
         font-weight: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham-bold.eot');
    src: url('../fonts/gotham-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-bold.woff2') format('woff2'),
         url('../fonts/gotham-bold.woff') format('woff'),
         url('../fonts/gotham-bold.ttf')  format('truetype'),
         url('../fonts/gotham-bold.svg#Gotham') format('svg');
         font-style: normal;
         font-weight: 700;
}
@import "_vars";
@import "mixin";
@import "vendor/reset";


.wrapper{
    background: url(../images/body.png) center/cover no-repeat fixed;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Blocks */
@import "blocks/header";
@import "blocks/creative";
@import "blocks/agency";
@import "blocks/features";
@import "blocks/extentions";
@import "blocks/blog";
@import "blocks/campaign";
@import "blocks/note";
@import "blocks/services";
@import "blocks/team";
@import "blocks/member";
@import "blocks/feedback";
@import "blocks/footer";
@import "blocks/burger";
@import "blocks/navmobile";

