footer{
    background-color: $primary;
    padding: 45px 0 25px 0;
}
.foot__inner{
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.foot__descr{
        p{
            color: $white;
        }
}
.foot__img{
    padding-bottom: 17px;
}