header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    margin-bottom: 137px;
}
.header__inner{
    display: flex;
    border-bottom: #626262 1px solid ;
    max-height: 90px;
    justify-content: center; 
    align-items: center;
    @include breakpoint ($phone-bp) {
        justify-content: space-between;
        max-height: 60px;
        flex-direction: row-reverse;
    }
}   
.header__img{
    margin: 50px 90px 50px 0;
    align-self: center;
        img{
            display: block;
            width: 75px;
            height: 70px ;
        }
    @include breakpoint ($tablet-bp) {
        margin-right: 19px;
        margin-left: 20px;
    }
}
.header__nav-ul{
    font-family: 'MyriadPro-Regular';
    margin-right: 100px;
    padding-top: 16px;
  @include breakpoint ($tablet-bp) {
      margin-right: 50px;
  }
    li{
        padding: 18px 10px 20px;
        line-height: 1.2;
        a{
            padding-bottom: 23px;
            font-family: 'Myriad Pro';
            font-weight: normal;
            font-size: 17px;
            color: #d1cece;
            text-decoration: none;
                &:hover{
                    border-bottom: $blue 6px solid;
                }
        }
    }
}
.header__social-ul{
    li{
        padding-right: 22px;
        padding-top: 12px;
        @include breakpoint ($tablet-bp) {
            padding: 10px;
        }
    }
}


.header__social-ul,
.header__nav-ul{
    display: flex;
    // padding: 33px 0;
    @include breakpoint ($phone-bp) {
        display: none;
    }
}