<!-- <header class="header">
   <div class="header__inner">
       <div class="header__img">
           <img src="assets/images/Logo.svg" alt="">
       </div>
       <div class="header__nav">
           <nav>
               <ul class="header__nav-ul">
                   <li> <a href="">Home</a></li>
                   <li><a href="">Pages</a></li>
                   <li> <a href="">Features</a></li>
                   <li><a href="">Extensions</a></li>
                   <li><a href="">Tutorials</a></li>
                   <li><a href="">Contact us</a></li>
               </ul>
           </nav>
       </div>
       <div class="header__social">
           <ul class="header__social-ul">
               <li><a href=""><img src="assets/images/social/f.png" alt=""></a></li>
               <li><a href=""><img src="assets/images/social/twt.png" alt=""></a></li>
               <li><a href=""><img src="assets/images/social/s.png" alt=""></a></li>
               <li><a href=""><img src="assets/images/social/in.png" alt=""></a></li>
           </ul>
       </div>

   </div>
</header> -->
